---
layout: page
---
<!-- use this format for a comment! -->
<div class="resource-wrapper">

  <div class="resources"> {% case page.type %}
    {% when "map" %}
      <iframe src="{{ page.location }}" width="940" height="400"></iframe>
    {% when "table" %}
      <iframe class="airtable-embed" src="{{ page.location }}" frameborder="0" onmousewheel="" width="325%" height="400" style="background: transparent; border: 1px solid #ccc;"></iframe>    {% else %}
      <p>Resource type unknown!</p>
  {% endcase %}
</div>

<div class="description">
    {{ content }}
  </div>









</div>
